[alias]
        st = status -sb
        ll = log --oneline
        last = log -1 HEAD --stat
        cm = commit -m
        d = diff
        dv = difftool -t vimdiff -y
        gl = config --global -l
        se = !git rev-list --all | xargs git grep -F
        
